@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.color-holly {
  background: linear-gradient(
    90deg,
    rgba(191, 219, 254, 1) 0%,
    rgba(165, 243, 252, 1) 100%
  );
}

.color-gold {
  background: linear-gradient(
    90deg,
    rgba(253, 230, 138, 1) 0%,
    rgba(234, 179, 8, 1) 100%
  );
}

.color-lime {
  background: linear-gradient(
    90deg,
    rgba(45, 212, 191, 1) 0%,
    rgba(254, 240, 138, 1) 100%
  );
}

.color-powder {
  background: linear-gradient(
    90deg,
    rgba(221, 214, 254, 1) 0%,
    rgba(251, 207, 232, 1) 100%
  );
}
.color-holly-button:hover {
  background: linear-gradient(
    90deg,
    rgba(191, 219, 254, 1) 0%,
    rgba(165, 243, 252, 1) 100%
  );
}

.color-gold-button:hover {
  background: linear-gradient(
    90deg,
    rgba(253, 230, 138, 1) 0%,
    rgba(234, 179, 8, 1) 100%
  );
}

.color-lime-button:hover {
  background: linear-gradient(
    90deg,
    rgba(45, 212, 191, 1) 0%,
    rgba(254, 240, 138, 1) 100%
  );
}

.color-powder-button:hover {
  background: linear-gradient(
    90deg,
    rgba(221, 214, 254, 1) 0%,
    rgba(251, 207, 232, 1) 100%
  );
}
